@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap");

:root {
  --btn-hover-color: rgb(169, 149, 149);
  --text-color: #d6bfbf;
  --text-letters: #ffff;
  --font-text-normal: 2rem;
  --font-text-small: 1.2rem;
  --letter-spacing: 0.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 120rem;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  background-color: var(--text-color);
  background-image: url("/Drum/images/drums.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Start pure code */

.container {
  height: 100vh;
  padding-top: 5rem;
  text-align: center;
  background-color: #581e1e;
  opacity: 0.9;
}

.header-text {
  font-size: 2.8rem;
  margin-bottom: 2.2rem;
  color: var(--text-letters);
  letter-spacing: var(--letter-spacing);
}

/* Info Text */
.info {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}

.info-text,
.letter-text {
  font-size: 2.1rem;
  color: var(--text-color);
  letter-spacing: var(--letter-spacing);
  text-shadow: 0 0 0.1rem black;
  /* margin-bottom: 2rem; */
}

.letter-text {
  margin-bottom: 2rem;
}

.letters {
  font-weight: 700;
  color: var(--text-letters);
}

/* Buttons */

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10rem;
}

.btn {
  font-size: var(--font-text-normal);
  padding: 1.2rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-hover-color);

  transition: all 0.2s;
}

/* Boxes */

.box-container {
  display: flex;
  justify-content: space-evenly;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(58, 28, 28);
  font-size: 4.2rem;
  font-weight: 700;
  width: 16rem;
  height: 16rem;
  border-radius: 2rem;
  background-color: aliceblue;
  border: 0.1rem solid black;
  box-shadow: 0 0 1rem black;
  cursor: pointer;
}

.box:hover {
  /* background-color: var(--btn-hover-color);
   */
  transform: translatey(-2rem);
}

.box-1 {
  background-image: url("/Drum/images/tom1.png");
  background-position: center;
  background-repeat: no-repeat;
}

.box-2 {
  background-image: url("/Drum/images/tom2.png");
  background-position: center;
  background-repeat: no-repeat;
}

.box-3 {
  background-image: url("/Drum/images/tom3.png");
  background-position: center;
  background-repeat: no-repeat;
}

.box-4 {
  background-image: url("/Drum/images/crash.png");
  background-position: top;

  background-repeat: no-repeat;
}

.box-5 {
  background-image: url("/Drum/images/snare.png");
  background-position: top;
  background-repeat: no-repeat;
}

.footer {
  margin-top: 16rem;
  font-size: var(--font-text-small);
  color: var(--text-color);
}

/* ************************** */
/* Classes for javascript */
/* ************************** */
.hidden {
  display: none;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}
