@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap");

:root {
  --btn-hover-color: rgb(169, 149, 149);
  --text-color: #d6bfbf;
  --text-letters: #ffff;
  --font-text-normal: 2rem;
  --letter-spacing: 0.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 120rem;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

/* Start pure code */

.container {
  height: 100vh;
  padding-top: 5rem;
  text-align: center;
  background-color: #581e1e;
}

.header-text {
  font-size: 2.8rem;
  margin-bottom: 2.2rem;
  color: var(--text-letters);
  letter-spacing: var(--letter-spacing);
}

/* Info Text */
.info {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}

.info-text,
.letter-text {
  font-size: 2.1rem;
  color: var(--text-color);
  letter-spacing: var(--letter-spacing);
  text-shadow: 0 0 0.1rem black;
}

.letters {
  font-weight: 700;
  color: var(--text-letters);
}

/* Buttons */

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 15rem;
}

.btn {
  font-size: var(--font-text-normal);
  padding: 1.2rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-hover-color);
  transition: all 0.2s;
}

/* Boxes */

.box-container {
  display: flex;
  justify-content: space-evenly;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-text-normal);
  color: aqua;
  font-size: 4.2rem;
  width: 16rem;
  height: 16rem;
  border-radius: 2rem;
  background-color: aliceblue;
  border: 0.1rem solid black;
  box-shadow: 0 0 1rem black;
  cursor: pointer;
}

.box:hover {
  background-color: var(--btn-hover-color);
}

.box-1 {
  background-image: url("/Drum/images/tom1.png");
  background-position: center;
  background-repeat: no-repeat;
}

/* Hide class */

.hidden {
  display: none;
}
